::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.custom-appbar {
  box-shadow: none !important;
}

.sign-button:hover {
  background: #003566 !important;
  color: white;
}

.header-image {
  background-image: url("./assets//images/header-image.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 677px;
  margin: 20px 0;
}

.menu-list {
  /* left: 182px !important; */
}
.airlines-list {
  overflow-x: auto;
}
.form-placeholder {
  display: flex;
  align-items: center;
}
.ceo-container {
  padding: 0 !important ;
}
.ceo-desk {
  background-image: url("./assets/images/ceoDesk.png");
  width: 100%;
}

.slick-prev {
    left: -57px;
}

.slick-next {
    right: -57px;
}

.slick-prev:before {
  content: url("./assets/images/angle-left-solid.svg");
}

.slick-next:before {
  content: url("./assets/images/angle-right-solid.svg");
  width: 20px;
  height: 20px;
}
