::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
* {
  /* outline: 2px solid red; */
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.active-item {
  color: #003566 !important;
  font-weight: 600 !important;
}
.active-item span:nth-child(1) {
  height: 5px;
  width: 5px;
  background: #003566;
  border-radius: 999px;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sign-button:hover {
  background: #003566 !important;
  color: white;
}

.menu-list {
  /* left: 182px !important; */
}
.airlines-list {
  overflow-x: auto;
}
.form-placeholder {
  display: flex;
  align-items: center;
}
.ceo-container {
  padding: 0 !important ;
}
.ceo-desk {
  background-image: url('./assets/images/ceoDesk.png');
  width: 100%;
}

.slick-prev {
  left: -57px;
}

.slick-next {
  right: -57px;
}

.slick-prev:before {
  content: url('./assets/images/angle-left-solid.svg');
}

.slick-next:before {
  content: url('./assets/images/angle-right-solid.svg');
  width: 20px;
  height: 20px;
}
