@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
* {
  /* outline: 2px solid red; */
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.active-item {
  color: #003566 !important;
  font-weight: 600 !important;
}
.active-item span:nth-child(1) {
  height: 5px;
  width: 5px;
  background: #003566;
  border-radius: 999px;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sign-button.active {
  background: #003566 !important;
  color: white;
}
.sign-button:hover {
  background: #003566 !important;
  color: white;
}

.airlines-list {
  overflow-x: auto;
}

.slick-slider {
  height: 80px !important;
}

.carousel-div .carousel-img {
  width: 250px;
  margin: 0 auto;
}
.slick-prev:before {
  content: url("./assets/images/angle-left-solid.svg");
  background-size: 10px 20px;
  display: inline-block;
  width: 14px;
  height: 26px;
}

.slick-next:before {
  content: url("./assets/images/angle-right-solid.svg");
  background-size: 10px 20px;
  display: inline-block;
  width: 14px;
  height: 26px;
}

.card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgb(0 0 0 / 12%), 0 4px 8px rgb(0 0 0 / 6%);
}

.slide img {
}
